.header {
    background-color: palegreen;
    padding: 20px;
    text-align: left;
}

.main {
    background-color: rgb(160, 90, 90);
}

.questionButton {
    background-color: gray;
    border-radius: 100%;
}

body{
    background-color: antiquewhite;
}