.header {
    background-color: palegreen;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
}
/*W3Schools helped with splitting the screen*/
.main {
    background-color: rgb(160, 90, 90);
    position: fixed;
    overflow-x: hidden;
    border-radius: 4px;
    box-shadow: 5px 5px 2px black;

}

.left{
    left:0;
}

.right{
    right: 0;
}

.questionButton {
    background-color: rgb(212, 212, 212);
    border-radius: 100%;
    border:none;
    margin: 5px;
}

.tooltipgiver {
  position: relative;
  display: inline-block;
}

.tooltipgiver .tooltips {
    visibility: hidden;
    background-color: antiquewhite;

    border-color: black;
    opacity: 0;
    transition: opacity 1s;
    
}

.tooltipgiver:hover .tooltips{
    visibility: visible;
    opacity: 1;
}

body{
    background-color: antiquewhite;
}

@font-face {
    font-family: "Fragment Core";
    src: 
    local("/static/Fragmentcore.otf"),
    url(/static/Fragmentcore.otf) format("opentype");
}