<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>FlaskApp</title>
</head>
<body>
    <div class="header">
    <h1>Hello World!</h1>
        <div class = "tooltipgiver">
            <button>?</button>
            <span class="tooltips"></span>
        </div>
    </div>

    <h2>Welcome to FlaskApp!</h2>
    <h3>{{ utc_dt }}</h3>

    <div class="main">
        <div class="main left">
            <h2>Welcome to FlaskApp!</h2> 
        </div>
        <div class="main right">
            <h2>Welcome to FlaskApp!</h2>
        </div>
    </div>

</body>
</html>